*{
    font-family: "Ubuntu",sans-serif;
}
body{
    background-color: rgb(43, 36, 36);
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.center{
    display: flex;
    width: 500px;
    height: 150px;
    justify-content: space-between;
}

.items {
    width: 32%;
    background-color: rgb(255, 127, 127);
    text-align: center;
    border-radius: 10px;
    box-shadow: 3px 3px 15px 1px rgb(255, 127, 127);
}
.items input{
    display: block;
    width: 100%;
    box-sizing: border-box;
    height: 70%;
    background-color: unset;
    border: none;
    outline: none;
    font-size: 3em;
    text-align: center;
}
.items span{
    font-size: 1.2em;
    color: rgb(68, 66, 66);
}
::placeholder{
    color: rgba(216, 50, 50,0.5);
}

@media(max-width: 499px){
    .center{
        transform: scale(0.7);
    }
}
@media(max-width: 355px){
    .center{
        transform: scale(0.5);
    }
}

h1{
    position: absolute;
    right: 5px;
    bottom:5px;
    font-size: small;
}

.two{
    margin-top: 10px;
    width: 160px;
    height: 40px;
    display: inline-flex;
    justify-content: space-between;
}
button{
    width: 33%;
    background-color: rgb(248, 75, 75);
    border: none;
    color: white;
    box-sizing: border-box;
    font-size: 1em;
}
button:disabled{
    color: rgb(192, 191, 189);
    opacity: 0.7;
}